* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-left: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.breaker {
  height: 20px;
}

/*TIC TAC TOE*/
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
/*Connect 4*/
.circle {
    background: #fff;
    border: 1px solid #999;
    font-size: 24px;
    font-weight: bold;
    line-height: 31px;
    height: 31px;
    padding: 0;
    margin: 1px;
    text-align: center;
    width: 31px;
    border-radius: 100%;
    float:left;
  }
.board {
  height: 204px;
  width: 240px;
  background: red;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}
.board-column:after {
  clear: both;
  content: '';
  display: table;
}
.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  margin-bottom: 5px;
}
.input {
  width: 31px;
  margin: 1px;
  font-size: 16px;
}
.circle.green {
  background: greenyellow;
  border: 2px solid black;
}

.circle.blue {
  background: aqua;
  border: 2px solid black;
}

/*CHECKERS*/

.blackChecker {
  background-color: black;
  border: 1px solid white;
  height: 90%;
  width: 90%;
  border-radius: 100%;
}
.whiteChecker {
  background-color: white;
  border: 1px solid black;
  height: 90%;
  width: 90%;
  border-radius: 100%;
}
.black {
  background: gray;
}
.placeholder {
  cursor: url(whiteChecker.svg), default;
  cursor: url(blackChecker.svg), default;
}